/* CSS */
.glyphicon-leaf
{
  color: #00A86B;
}

.CentrerBoutons
{
  display: flex;
  justify-content: center;
}

#creation_objet .form-control
{
  border: 0;
}

.glyphicon-remove
{
	color: #E12121;
}

.glyphicon-pencil
{
	color: #00A86B;
}
.styleDescription{
	border: 1px solid #b7b7b7;
	border-radius: 1px;
}